@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/* ==========================================================================
   Foundation
   ========================================================================== */
body {
  font-size: 16px;
  color: #000;
  font-family: "メイリオ", "Meiryo", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1000px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

ol,
ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
  border-style: none; }

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-touch-callout: none; }

a:hover {
  text-decoration: none; }

a:focus,
*:focus {
  outline: none; }

body {
  margin: 0; }

a {
  opacity: 1;
  transition: opacity .1s ease-in-out, background .1s ease-in-out, color .1s ease-in-out; }
  a:hover {
    opacity: 0.7; }
  a:focus {
    border-color: #005FFF;
    box-shadow: 0 0 0 1px #005FFF; }

input, button, textarea, select {
  margin: 0;
  background: none;
  font-weight: normal;
  font-family: "メイリオ", "Meiryo", sans-serif;
  cursor: pointer;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 10px;
  height: 36px; }
  input:focus, button:focus, textarea:focus, select:focus {
    border-color: #005FFF;
    box-shadow: 0 0 0 1px #005FFF; }
  input:disabled, button:disabled, textarea:disabled, select:disabled {
    opacity: .5;
    cursor: default; }

select::-ms-expand {
  display: none; }

.l-container {
  width: 100%;
  position: relative;
  min-height: 100%;
  padding: 0 3em 1em 3em; }

/* ==========================================================================
   Layout
   ========================================================================== */
.l-footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #3399ff;
  border-top: 1px solid #3c6690;
  padding: 0 10px;
  color: #fff;
  font-weight: bold; }

/* Header */
#header {
  border-bottom: solid 5px #005FFF;
  padding: 1em 0;
  margin: 0 0 1em;
  position: relative; }
  #header .logo {
    border-bottom: 0;
    color: inherit;
    font-size: 1.125em; }
  #header .icons {
    text-align: right; }
  #header .logout {
    display: block;
    position: absolute;
    text-align: right;
    width: 100%;
    margin-top: -35px; }
  #header .logout-button {
    text-align: right;
    margin: 0 10px 5px 0; }
    #header .logout-button a {
      display: inline-block;
      font-size: 14px;
      color: #333;
      border: 1px solid #333;
      padding: 3px 10px; }
  #header .page-id {
    text-align: right;
    margin: 0 10px 0 0; }
  #header .page-title {
    padding: 0 200px 0 30px;
    margin: -30px 0 0 0; }

@media screen and (max-width: 736px) {
  #header .logo {
    font-size: 1.25em;
    margin: 0; }
  #header .icons {
    height: 5em;
    line-height: 5em;
    position: absolute;
    right: -0.5em;
    top: 0; } }

/* ==========================================================================
   Object
   ========================================================================== */
/* Component
   ----------------------------------------------------------------- */
.buttonA,
.buttonB {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.375em;
  border: 2px solid #666;
  color: #666 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  height: 36px;
  letter-spacing: 0.075em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }
  .buttonA:hover, .buttonA:active,
  .buttonB:hover,
  .buttonB:active {
    background-color: rgba(245, 106, 106, 0.05); }

.buttonB {
  width: 200px; }

/* ==========================================================================
   必須パーツ
   ========================================================================== */
.l-main {
  padding: 10px 20px; }

.topic-path .path {
  display: inline-block;
  position: relative; }
  .topic-path .path::before {
    content: '>'; }
  .topic-path .path:first-child::before {
    display: none; }
  .topic-path .path a {
    text-decoration: underline; }

.formHeader,
.formBody {
  margin: 0 0 40px; }

.content-row {
  padding: 3px 0; }

.error-message-head {
  color: #FF4040;
  margin: 1em 0; }

/* ==========================================================================
   フォーム2カラム
   親にtwo-column-contentを設置する
   ========================================================================== */
.content-column {
  display: inline-block;
  vertical-align: top; }

/* ==========================================================================
   フォームパーツ
   ========================================================================== */
.item-name,
.item-name-must {
  display: inline-block;
  width: 70px;
  text-align: right;
  vertical-align: middle; }

.input-text {
  width: 150px; }

.input-checkbox {
  height: auto; }

.error-message {
  color: #FF4040;
  font-size: 14px;
  padding: 4px 0 0; }

/* ==========================================================================
   検索エリア
   ========================================================================== */
.search-area {
  margin: 0 0 2em 0;
  width: 100%;
  border-collapse: collapse; }

.search-area tbody tr {
  border: solid 1px rgba(210, 215, 217, 0.75);
  border-left: 0;
  border-right: 0; }

.search-area tbody tr:nth-child(2n + 1) {
  /* background-color: rgba(240, 250, 254, 0.75); */
  background-color: rgba(230, 235, 237, 0.25); }

.search-area td {
  padding: 0.75em 0.75em; }

.search-area th {
  color: #3d4449;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left; }

.search-area thead {
  border-bottom: solid 2px rgba(210, 215, 217, 0.75); }

.search-area tfoot {
  border-top: solid 2px rgba(210, 215, 217, 0.75); }

.search-area.alt {
  border-collapse: separate; }

.search-area.alt tbody tr td {
  border: solid 1px rgba(210, 215, 217, 0.75);
  border-left-width: 0;
  border-top-width: 0; }

.search-area.alt tbody tr td:first-child {
  border-left-width: 1px; }

.search-area.alt tbody tr:first-child td {
  border-top-width: 1px; }

.search-area.alt thead {
  border-bottom: 0; }

.search-area.alt tfoot {
  border-top: 0; }

/* ==========================================================================
   ページネーション
   ========================================================================== */
.pagenation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px; }
  .pagenation .arrow,
  .pagenation .num {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 -1px 0 0;
    border: 1px solid #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    .pagenation .arrow:hover,
    .pagenation .num:hover {
      opacity: 1;
      background: linear-gradient(#91b9e4, #3173b5);
      color: #fff; }
    .pagenation .arrow.current,
    .pagenation .num.current {
      background: linear-gradient(#91b9e4, #3173b5);
      color: #fff;
      font-weight: bold;
      cursor: default; }
  .pagenation .dots {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 -1px 0 0;
    border: 1px solid #000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: default; }
  .pagenation .arrow {
    font-size: 12px; }
  .pagenation .page-info {
    margin-left: 30px;
    font-size: 14px; }

/* ==========================================================================
   タブ
   ========================================================================== */
input[name="tab-radio"] {
  display: none; }

.tab-contents {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }
  .tab-contents .tab-item {
    width: 33.3%;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #3c6690;
    margin: 0 -1px 0 0;
    transition: opacity .1s ease-in-out, background .1s ease-in-out, color .1s ease-in-out; }
    .tab-contents .tab-item:hover {
      opacity: 1;
      background: linear-gradient(#91b9e4, #3173b5);
      color: #fff;
      cursor: pointer; }

.tab-content {
  display: none;
  width: 100%;
  margin-top: 20px; }

#tab1:checked ~ #tab-item1 {
  opacity: 1;
  background: linear-gradient(#91b9e4, #3173b5);
  color: #fff;
  font-weight: bold; }

#tab1:checked ~ #tab-content1 {
  display: block; }

#tab2:checked ~ #tab-item2 {
  opacity: 1;
  background: linear-gradient(#91b9e4, #3173b5);
  color: #fff;
  font-weight: bold; }

#tab2:checked ~ #tab-content2 {
  display: block; }

#tab3:checked ~ #tab-item3 {
  opacity: 1;
  background: linear-gradient(#91b9e4, #3173b5);
  color: #fff;
  font-weight: bold; }

#tab3:checked ~ #tab-content3 {
  display: block; }

/* ==========================================================================
   テーブル
   ========================================================================== */
.table-inq,
.table-mnt {
  border-collapse: separate;
  border-spacing: 0; }
  .table-inq tr:last-child td:first-child,
  .table-mnt tr:last-child td:first-child {
    border-radius: 0 0 0 5px; }
  .table-inq tr:last-child td:last-child,
  .table-mnt tr:last-child td:last-child {
    border-radius: 0 0 5px 0; }
  .table-inq th,
  .table-mnt th {
    text-align: center;
    margin-left: 5px;
    color: white;
    background: linear-gradient(#91b9e4, #3173b5);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    padding: 6px 10px; }
    .table-inq th:first-child,
    .table-mnt th:first-child {
      border-radius: 5px 0 0 0; }
    .table-inq th:last-child,
    .table-mnt th:last-child {
      border-radius: 0 5px 0 0;
      border-right: 1px solid #3c6690; }
  .table-inq td,
  .table-mnt td {
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 6px 10px; }
    .table-inq td:last-child,
    .table-mnt td:last-child {
      border-right: 1px solid #a8b7c5; }

.table-wrap {
  width: 100%;
  margin-bottom: 20px; }

.table-inq,
.table-mnt {
  border-collapse: collapse;
  line-height: 1.4;
  table-layout: fixed; }
  .table-inq th,
  .table-inq td,
  .table-mnt th,
  .table-mnt td {
    white-space: nowrap;
    min-width: 60px;
    height: 36px; }
  .table-inq th,
  .table-mnt th {
    padding: 4px 10px; }
  .table-inq td,
  .table-mnt td {
    padding: 2px 4px; }

/* Project
   ----------------------------------------------------------------- */
/* ==========================================================================
   print
   ========================================================================== */
td,
  .table-mnt th,
  .table-mnt td {
    white-space: nowrap;
    min-width: 60px;
    height: 36px; }
  .table-inq th,
  .table-mnt th {
    padding: 4px 10px; }
  .table-inq td,
  .table-mnt td {
    padding: 2px 4px; }

/* Project
   ----------------------------------------------------------------- */
/* ==========================================================================
   print
   ========================================================================== */
