
/* モーダルCSS */
body.fixed {
  position: relative;
  /*position: absolute;*/
  /*position: fixed;*/
  left: 0;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modalBg {
  /*position: relative;*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(30,30,30,0.9);
}

/*分載モーダル*/
.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 1600px;
  height : 80%;
  overflow : hidden;
  overflow-y: auto;
  padding: 10px 30px;
  background-color: #fff;
  max-height: calc(100vh - 1.5em);
}

/*得意先モーダル*/
.modalClientWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 800px;
  height : 80%;
  overflow : hidden;
  overflow-y: auto;
  padding: 10px 30px;
  background-color: #fff;
  max-height: calc(100vh - 1.5em);
}

/*傭車先モーダル*/
.modalCarrierWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 850px;
  height : 80%;
  overflow : hidden;
  overflow-y: auto;
  padding: 10px 30px;
  background-color: #fff;
  max-height: calc(100vh - 1.5em);
}

/*車両モーダル*/
.modalCarWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 940px;
  height : 80%;
  overflow : hidden;
  overflow-y: auto;
  padding: 10px 30px;
  background-color: #fff;
  max-height: calc(100vh - 1.5em);
}

/*ドライバーモーダル*/
.modalDriverWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  max-width: 1400px;
  height : 80%;
  overflow : hidden;
  overflow-y: auto;
  padding: 10px 30px;
  background-color: #fff;
  max-height: calc(100vh - 1.5em);
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
